#include <dt-bindings/zmk/indicators.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

// Определения слоев

#define DEF 0 // Default
#define LWR 1 // Lower
#define RSE 2 // Raise
#define SPE 3 // Special
#define NAV 4 // Navigation
#define ADJ 5 // Adjust

// Глобальные настройки поведений

&lt {
    quick_tap_ms = <200>;
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

&mt {
    quick_tap_ms = <200>;
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

/ {
    // Определение макросов для vim

    macros {
        vim_next_error: vim_next_error {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET &kp E>;
        };

        vim_prev_error: vim_prev_error {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp E>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TILDE  &kp Q            &kp W           &kp E         &kp R             &kp T      &kp Y        &kp U              &kp I         &kp O            &kp P                 &kp LEFT_BRACKET
&kp COLON  &mt LEFT_META A  &mt LEFT_ALT S  &mt LCTRL D   &mt LEFT_SHIFT F  &kp G      &kp H        &mt RIGHT_SHIFT J  &mt RCTRL K   &mt RIGHT_ALT L  &mt RIGHT_META SQT    &kp SEMICOLON
&kp GRAVE  &mt LEFT_META Z  &kp X           &kp C         &kp V             &kp B      &kp N        &kp M              &kp COMMA     &kp DOT          &mt RIGHT_META SLASH  &kp RIGHT_BRACKET
                                            &lt 5 ESCAPE  &lt 4 SPACE       &kp TAB    &lt 2 ENTER  &lt 1 BACKSPACE    &lt 3 DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_l_r>;
        };

        lower_layer {
            bindings = <
&none  &kp LEFT_BRACKET  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RIGHT_BRACKET    &none  &none            &none      &none          &none           &none
&none  &kp COLON         &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp EQUAL            &none  &kp RIGHT_SHIFT  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_META  &none
&none  &kp TILDE         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BACKSLASH        &none  &none            &none      &none          &none           &none
                                       &kp DOT       &kp NUMBER_0  &kp MINUS            &none  &none            &none
            >;

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP &scroll_u_d>;
        };

        raise_layer {
            bindings = <
&none  &kp LEFT_BRACE  &kp AMPERSAND    &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE    &none  &none            &none      &none          &none           &none
&none  &kp COLON       &kp DOLLAR       &kp PERCENT           &kp CARET              &kp PLUS           &none  &kp RIGHT_SHIFT  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_META  &none
&none  &kt TILDE       &kp EXCLAMATION  &kp AT                &kp HASH               &kp PIPE           &none  &none            &none      &none          &none           &none
                                        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDER          &none  &none            &none
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW &inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };

        special_layer {
            bindings = <
&none  &kp F12  &kp F7  &kp F8          &kp F9  &kp PRINTSCREEN    &none           &none           &none         &none            &none  &none
&none  &kp F11  &kp F4  &kp F5          &kt F6  &none              &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &none
&none  &kp F10  &kp F1  &kp F2          &kp F3  &none              &none           &none           &none         &none            &none  &none
                        &kp C_AC_PROPS  &trans  &trans             &trans          &trans          &trans
            >;
        };

        navigation_layer {
            bindings = <
&tog 4  &none          &none         &none             &none           &none    &none           &vim_prev_error  &vim_next_error  &none      &none  &none
&none   &kp LEFT_META  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none    &kp LEFT_ARROW  &kp DOWN_ARROW   &kp UP_ARROW     &kp RIGHT  &none  &none
&none   &none          &none         &none             &none           &none    &kp HOME        &kp PAGE_DOWN    &kp PAGE_UP      &kp END    &none  &none
                                     &none             &tog 4          &none    &kp ENTER       &kp BACKSPACE    &kp DELETE
            >;
        };

        adjust_layer {
            bindings = <
&out OUT_BLE  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_CLR   &out OUT_USB    &none      &none           &none         &none            &none  &none
&none         &none         &none         &none           &none        &none           &kp LEFT   &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &none
&sys_reset    &bootloader   &none         &studio_unlock  &ind IND_ON  &ind BAT_ST     &kp HOME   &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &none  &none
                                          &none           &tog 4       &kp SPACE       &kp ENTER  &kp BACKSPACE   &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW &inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };

        // Зарезервированные слои

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };

        extra3 { status = "reserved"; };

        extra4 { status = "reserved"; };
    };
};
